footer{
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto; 
  padding: 1.5rem;

}

.content-footer{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto; 
  display: grid;
  grid-template-columns: repeat(1 ,1fr);
  gap: 1rem;
}
