.contenerwork {
  width: 1288px;
  position: relative;
  overflow: hidden;
  z-index: -1;

}
.titletop {
  width: 800px;
  height: 226px;
  left: 244px;
  position: relative;
}
.categore {
  width: 800px;
  height: 44px;
  left: 0px;
  bottom: -5px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}
#categ {
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  outline: 1px rgba(0, 0, 0, 0.5) solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  opacity: 0.7;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
#categ:hover{
  opacity: 1;
  transform: scale(1.1);
}
.myworking {
  width: 800px;
  left: 244px;
  top: 32px;
  position: relative;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 114px;
}
.myimgwork {
  width: 800px;
  height: 500px;
  left: 0px;
  top: 524px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    rgba(255, 255, 255, 0.3);
  overflow: hidden;
  border-radius: 30px;
  backdrop-filter: blur(100px);
  background-image: url("./images/myworkimg.svg");
}
#wordcate {
  color: #181717;
  font-size: 12px;
  font-family: SF Pro;
  font-weight: 400;
  line-height: 14.4px;
  word-wrap: break-word;
}
#myonework {
  width: 100%;
  height: 500px;
  position: relative;
  left: 0px;
  top: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    rgba(255, 255, 255, 0.3);
  overflow: hidden;
  border-radius: 30px;
  backdrop-filter: blur(100px);
}
.imgdiscription {
  position: absolute;
  bottom: 44px;
  left: 39px;
}
.titleimg {
  left: 30px;
  top: 44px;
  position: absolute;
  color: white;
  font-size: 39px;
  font-family: SF Pro;
  font-weight: 400;
  line-height: 46.8px;
  word-wrap: break-word;
}
.imgdiscription p {
  width: 712px;
  height: 38px;
  top: 28px;
  position: relative;
  color: white;
  font-size: 16px;
  font-family: SF Pro;
  font-weight: 400;
  line-height: 19.2px;
  word-wrap: break-word;
}
.sabtitle {
  left: 0px;
  top: 0px;
  position: absolute;
  color: #181717;
  font-size: 49px;
  font-family: SF Pro;
  font-weight: 400;
  line-height: 58.8px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .contenerwork {
    width: 95%;
  }
  .titletop {
    width: 100%;
    justify-content: center;
    height: 226px;
    left: 1.5rem;
    position: relative;
  }
  .sabtitle {
    font-size: 41px;
  }

  .myworking {
    width: 100%;
    position: relative;
    left: 0;
  }
  #myonework {
    width: 100%;
    left: 6px;
    position: relative;
  }
  .myimgwork {
    width: 93%;
    height: 43vh;
  }
  .titleimg {
    left: 26px;
    font-size: 31px;
    
  }
  .imgdiscription {
  
      width: 80%;
      position: absolute;
      bottom: 36px;
  
  }
  .imgdiscription p{
    position: relative;
    width: fit-content;
    height: fit-content;
  }
}
