{% extends "base.html" %}
{% block content %}
<div style="width: 1288px; height: 2398px; position: relative; overflow: hidden ; z-index: -1;">
  <div style="left: 269px; top: 165px; position: absolute; color: #181717; font-size: 49px; font-family: SF Pro; font-weight: 400; line-height: 58.80px; word-wrap: break-word">Helping brands thrive<br/>in the digital world</div>
  <div style="width: 844px; left: 269px; top: 383px; position: absolute; justify-content: flex-start; align-items: center; gap: 58px; display: inline-flex">
    <img style="width: 401px; height: 391px; position: relative;  border-radius: 30px" src="{{url_for('static' , filename='images/personimg.svg')}}" />
    <div style="width: 330px; height: 246px; color: #181717; font-size: 16px; font-family: SF Pro; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </div>
  <div style="width: 775px; left: 257px; top: 943px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 44px; display: inline-flex">
    <div style="align-self: stretch; color: #181717; font-size: 49px; font-family: SF Pro; font-weight: 400; line-height: 58.80px; word-wrap: break-word">Why me?</div>
    <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 88px; display: flex">


      <div  style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 71px; display:flex">
        <div style="width: 300px; height: 300px; position: relative; overflow: hidden">
            <img src="{{url_for('static' , filename='images/being-creative1.svg')}}" alt="">
        </div>
        <div style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
          <div style="color: #181717; font-size: 31px; font-family: SF Pro; font-weight: 400; line-height: 37.20px; word-wrap: break-word">UI design</div>
          <div style="width: 316px; height: 132px; color: #181717; font-size: 16px; font-family: SF Pro; font-weight: 400; line-height: 19.20px; word-wrap: break-word">I enjoy crafting eye-catching interfaces that grab attention from the very first glance. I pay close attention to colors and layout to create a smooth and pleasant visual experience that makes users feel comfortable and engaged.</div>
        </div>
      </div>


      <div  style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 71px; display:flex">
        <div style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
          <div style="color: #181717; font-size: 31px; font-family: SF Pro; font-weight: 400; line-height: 37.20px; word-wrap: break-word">UI design</div>
          <div style="width: 316px; height: 132px; color: #181717; font-size: 16px; font-family: SF Pro; font-weight: 400; line-height: 19.20px; word-wrap: break-word">I enjoy crafting eye-catching interfaces that grab attention from the very first glance. I pay close attention to colors and layout to create a smooth and pleasant visual experience that makes users feel comfortable and engaged.</div>
        </div>
        <div style="width: 300px; height: 300px; position: relative; overflow: hidden">
          <img src="{{url_for('static' , filename='images/smart-people2.svg')}}" alt="">
      </div>
      </div>


      <div  style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 71px; display:flex">
        <div style="width: 300px; height: 300px; position: relative; overflow: hidden">
            <img src="{{url_for('static' , filename='images/about-our-team3.svg')}}" alt="">
        </div>
        <div style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
          <div style="color: #181717; font-size: 31px; font-family: SF Pro; font-weight: 400; line-height: 37.20px; word-wrap: break-word">UI design</div>
          <div style="width: 316px; height: 132px; color: #181717; font-size: 16px; font-family: SF Pro; font-weight: 400; line-height: 19.20px; word-wrap: break-word">I enjoy crafting eye-catching interfaces that grab attention from the very first glance. I pay close attention to colors and layout to create a smooth and pleasant visual experience that makes users feel comfortable and engaged.</div>
        </div>
      </div>


    
    


    </div>
  </div>
  <div style="left: 269px; top: 2132px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 21px; display: inline-flex">
    <div style="color: #181717; font-size: 49px; font-family: SF Pro; font-weight: 400; line-height: 58.80px; word-wrap: break-word">Say hello </div>
    <img style="width: 60px; height: 61px" src="{{url_for('static' , filename='images/Free_Letterheads4.svg')}}" />
  </div>
</div>
{% endblock content %}