{% extends "base.html" %} {% block content %}

<div class="contenerblog">
  <div class="sabcontener">
    <div class="titleblog">
      <p>
        Helping brands thrive <br />
        in the digital world
      </p>
    </div>

    <div class="mianblog">

      <div class="topmain">
        
        <div class="catebottom">
          <div style="color: #181717; font-size: 12px; font-family: SF Pro; font-weight: 400; line-height: 14.40px; word-wrap: break-word">UI Design</div>
        </div>

        <div class="catebottom">
          <div style="color: #181717; font-size: 12px; font-family: SF Pro; font-weight: 400; line-height: 14.40px; word-wrap: break-word">UI Design</div>
        </div>

        <div class="catebottom">
          <div style="color: #181717; font-size: 12px; font-family: SF Pro; font-weight: 400; line-height: 14.40px; word-wrap: break-word">UI Design</div>
        </div>

      </div>

      <div class="bottommain">

        <div class="onecadrblog">
          <div class="titlecardblog" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
          <div class="headcardblog">
            <div class="namedcardblog" >Blog Name</div>
            <div class="iconcardblog" >
              <img src="{{url_for('static' , filename='/images/frame.svg')}}" alt="">
            </div>
          </div>
        </div>
        <div class="onecadrblog">
          <div class="titlecardblog" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
          <div class="headcardblog">
            <div class="namedcardblog" >Blog Name</div>
            <div class="iconcardblog" >
              <img src="{{url_for('static' , filename='/images/frame.svg')}}" alt="">
            </div>
          </div>
        </div>
        <div class="onecadrblog">
          <div class="titlecardblog" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
          <div class="headcardblog">
            <div class="namedcardblog" >Blog Name</div>
            <div class="iconcardblog" >
              <img src="{{url_for('static' , filename='/images/frame.svg')}}" alt="">
            </div>
          </div>
        </div>
        <div class="onecadrblog">
          <div class="titlecardblog" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
          <div class="headcardblog">
            <div class="namedcardblog" >Blog Name</div>
            <div class="iconcardblog" >
              <img src="{{url_for('static' , filename='/images/frame.svg')}}" alt="">
            </div>
          </div>
        </div>
        <div class="onecadrblog">
          <div class="titlecardblog" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
          <div class="headcardblog">
            <div class="namedcardblog" >Blog Name</div>
            <div class="iconcardblog" >
              <img src="{{url_for('static' , filename='/images/frame.svg')}}" alt="">
            </div>
          </div>
        </div>
        <div class="onecadrblog">
          <div class="titlecardblog" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
          <div class="headcardblog">
            <div class="namedcardblog" >Blog Name</div>
            <div class="iconcardblog" >
              <img src="{{url_for('static' , filename='/images/frame.svg')}}" alt="">
            </div>
          </div>
        </div>

        
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}
