<footer>
  <div class="content-footer">

  <div class="icon-soh">
    <a href="#"><img src="{{url_for('static' , filename='/images/skill-icons_linkedin.png')}}" alt=""></a>
    <a href="#"><img src="{{url_for('static' , filename='/images/skill-icons_email.png')}}" alt=""></a>
    <a href="#"><img src="{{url_for('static' , filename='/images/skill-icons_x.png')}}" alt=""></a>
  </div>

  <hr>

  <div style="color: #181717; font-size: 12px; font-family: Montserrat; font-weight: 400; line-height: 14.40px;">Minou All rights reseved</div>
</div>
</footer>