<nav>

  <div class="logo">Med_Amine</div>

  <div class="list">
    <!-- <input type="checkbox" name="" id="click" />
    <label class="menuicon" for="click"
      ><img src="{{url_for('static' , filename='images/menuicon.svg')}}" alt=""
    /></label> -->

    <ul class="ul">
      <div class="links">
        <a href="{{url_for('home')}}"><li class="loi">Home</li></a>
        <a href="{{url_for('work')}}"><li class="loi">Work</li></a>
        <a href="{{url_for('about')}}"><li class="loi">About</li></a>
      </div>
    </ul>

  </div>    
  

</nav>
