{% extends "base.html" %} {% block content %}
<div class="contanthome">
  <main>
    <div class="content-main">
      <div class="back-img">
        <img
          src="{{url_for('static' , filename='/images/background-home.png')}}"
          alt=""
        />
      </div>

      <div class="word-back">
        <p class="p1">Hi, I'm a UI UX Designer</p>
        <p class="p2">
          I make <span style="color: #9747ff">beautiful</span> Designs
        </p>
      </div>

      <div class="content-main2">
        <div class="works">
          <div class="all-btn">
            <div class="btn">All</div>
            <div class="btn">For Client</div>
            <div class="btn">For me</div>
          </div>

          <div class="cadr-work">
            <div class="card"><img src="{{url_for('static' , filename='/images/Work-img.png')}}" alt=""></div>
            <div class="card"><img src="{{url_for('static' , filename='/images/Work-img.png')}}" alt=""></div>
            <div class="card"><img src="{{url_for('static' , filename='/images/Work-img.png')}}" alt=""></div>
          </div>
        </div>

        <div class="descriptin">
          <div class="p">
            <p>I help projects succeed in the design area.</p>
          </div>
        </div>

        <div class="testamanton">
          <div class="title-test">
            <p>What my clients say</p>
          </div>
          <div class="card-test">
            <div class="card-cleinte">
              <div>
                <img
                  class="img-cleint"
                  src="{{url_for('static' , filename='/images/cleint-img.png')}}"
                  alt=""
                />
              </div>
              <div>
                <p class="description-cleint">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor in
                </p>
              </div>
              <div>
                <img
                  src="{{url_for('static' , filename='/images/starticon.png')}}"
                  alt=""
                />
              </div>
            </div>

            <div class="card-cleinte">
              <div>
                <img
                  class="img-cleint"
                  src="{{url_for('static' , filename='/images/cleint-img.png')}}"
                  alt=""
                />
              </div>
              <div>
                <p class="description-cleint">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor in
                </p>
              </div>
              <div>
                <img
                  src="{{url_for('static' , filename='/images/starticon.png')}}"
                  alt=""
                />
              </div>
            </div>

            <div class="card-cleinte">
              <div>
                <img
                  class="img-cleint"
                  src="{{url_for('static' , filename='/images/cleint-img.png')}}"
                  alt=""
                />
              </div>
              <div>
                <p class="description-cleint">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor in
                </p>
              </div>
              <div>
                <img
                  src="{{url_for('static' , filename='/images/starticon.png')}}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div class="why-me">
          <div class="why-title">
            <div>Why me?</div>
          </div>
          <div class="why-all-card">
            <div class="why-card">
              <div class="img-title-card">
                <img
                  src="{{url_for('static' , filename='/images/being-creative.svg')}}"
                  alt=""
                />
              </div>

              <div class="why-title-card">

                <div class="top-title"> UI design </div>
                
                <div  class="bottom-descr" >
                  I enjoy crafting eye-catching interfaces that grab attention
                  from the very first glance. I pay close attention to colors
                  and layout to create a smooth and pleasant visual experience
                  that makes users feel comfortable and engaged.
                </div>
              </div>
            </div>

            <div class="why-card">
              <div class="why-title-card-replqce">
                <div class="top-title"  >
                  UI design
                </div>
                <div class="bottom-descr"  >
                  I enjoy crafting eye-catching interfaces that grab attention
                  from the very first glance. I pay close attention to colors
                  and layout to create a smooth and pleasant visual experience
                  that makes users feel comfortable and engaged.
                </div>
              </div>

              <div class="img-title-card-replqce">
                <img
                  src="{{url_for('static' , filename='/images/smart-people.svg')}}"
                  alt=""
                />
              </div>
            </div>

            <div class="why-card">
              <div class="img-title-card">
                <img
                  src="{{url_for('static' , filename='/images/about-our-team.svg')}}"
                  alt=""
                />
              </div>

              <div class="why-title-card">
                <div class="top-title"  >
                  UI design
                </div>
                <div class="bottom-descr">
                  I enjoy crafting eye-catching interfaces that grab attention
                  from the very first glance. I pay close attention to colors
                  and layout to create a smooth and pleasant visual experience
                  that makes users feel comfortable and engaged.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="say-hello-section">
          <div class="title-say">
            <p>Say hello </p>
          </div>
          <div class="img-say">
            <img src="{{ url_for('static', filename='images/img-say.jpg') }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
